:root {
  --main-color: #E6E6E6;
  --jet: #343434;
  --cyan: #3CB3E4;
  --black: #001111;
  --grey: #919191;
}

body {
  font-family: 'Arial Rounded MT Bold', sans-serif;
  scroll-behavior: smooth;
  background-color: var(--main-color);
}
/* Navbar Styles */

.navMain {
  max-height: 200px;
  border-bottom: 5px solid var(--cyan);
}

.navList {
  list-style: none;
}

.navListItems {
  margin-right: 7px;
  margin-left: 7px;
  font-size: 20px;
}

.navListItems a {
  text-decoration: none;
  color: var(--black);
  /* text-shadow: 0px 0px 2px var(--black); */
}

.navbarLogo {
  content: url('./assets/images/NavbarLogo.png');
  height: 100%;
  max-width: 100%;
}

/* Main Styles */
.sortRow {
  border-bottom: 5px solid var(--cyan);
}

.mainMap {
  height: 100%;
  width: 90%;
}

.selectorMap {
  height: 300px;
  width: 90%;
}

.postCards {
  box-shadow: 0px 1px 5px black;

}

.postCards img,
.postCards iframe {
  max-height: 400px;
  max-width: 100%;
  
}




/* --------------------------------------- */
/* ----- Media Queries ----- */
/* --------------------------------------- */


@media(max-width: 980px) {

}

@media(max-width: 768px) {
.navbarLogo {
  content: url('./assets/images/NavbarLogo-Mobile.png');
}

.mainMap {
  width: 100%;
}

}

@media(max-width: 575px) {

}

/* ----- End Media Queries ----- */
